@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
.logo {
    font-family: 'Inspiration';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 0.05em;
    color: black;
}

.title {
    color: black;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
}

.description {
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

input.btn-secondary {
    background-color: #783A4D;
    border-color: #000;
}

input.btn-secondary:hover {
    background-color: #000;
    border-color: #FFFFFF;
}

.img-fluid {
    width: 1322px !important;
    height: 980px !important;
    object-fit: cover;
    border-radius: 0px 55px 55px 0px;
}